In [2]:
import pandas as pd

In [3]:
reviews = pd.read_csv(
    "reviews.csv"
)

encoded_reviews = pd.read_pickle(
    "pickle_encoded_reviews.pkl"
)

In [4]:
reviews

,user_id,business_id,stars,text,date,user_id_str,review_id
0,113808,1884,5.0,I've taken a lot of spin classes over the year...,2012-01-03 15:28:18,OyoGAe7OKpv6SyGZT5g77Q,176697
1,162367,11110,5.0,"Wow! Yummy, different, delicious. Our favo...",2015-01-04 00:01:03,_7bHUi9Uuf5__HHc_Q8guQ,164707
2,186050,252,1.0,I am a long term frequent customer of this est...,2015-09-23 23:10:31,eUta8W_HdHMXPzLBBZhL1A,289673
3,248366,6502,4.0,Good food--loved the gnocchi with marinara\nth...,2009-10-14 19:57:14,smOvOajNG0lS4Pq7d8g4JQ,129716
4,64132,8113,5.0,Tremendous service (Big shout out to Douglas) ...,2013-06-24 11:21:25,Dd1jQj7S-BFGqRbApFzCFw,734680
...,...,...,...,...,...,...,...
887154,29093,3604,1.0,Temple University blatantly disregards freedom...,2021-08-28 18:46:05,5d32aJe0a3_fSl3LIVYkWQ,797627
887155,169671,1068,3.0,"*Later Yelp* I've only been here once, but I l...",2014-11-03 14:45:46,am7-gkH_PDz598oTdYSD6A,712271
887156,787,8782,3.0,Philly has become a dangerous place with the m...,2022-01-18 03:48:44,-AkziDwQ8hv2COTDBBUpig,141371
887157,39378,12361,4.0,"ice cream! ice cream sodas, sundaes!! \n\nwant...",2012-10-21 04:08:40,7ziWZULyiZv2TesYNMFf4g,302281
887158,101749,9869,3.0,This is a good pizza option - they deliver thr...,2018-03-13 13:54:48,MCzlzlOw7IGbRAKVjJBPtg,557410

In [5]:
encoded_reviews

,user_id,business_id,stars,date,user_id_str,encoded
0,113808,1884,5.0,2012-01-03 15:28:18,OyoGAe7OKpv6SyGZT5g77Q,"[-0.011747095, 0.10525643, -0.0076568937, -0.0..."
1,162367,11110,5.0,2015-01-04 00:01:03,_7bHUi9Uuf5__HHc_Q8guQ,"[-0.08979226, -0.048555817, 0.0055210083, 0.00..."
2,186050,252,1.0,2015-09-23 23:10:31,eUta8W_HdHMXPzLBBZhL1A,"[0.027325913, -0.037775025, -0.030031554, -0.0..."
3,248366,6502,4.0,2009-10-14 19:57:14,smOvOajNG0lS4Pq7d8g4JQ,"[-0.022266012, 0.02653162, 0.02756578, -0.0056..."
4,64132,8113,5.0,2013-06-24 11:21:25,Dd1jQj7S-BFGqRbApFzCFw,"[0.02121764, -0.030519828, 0.0039556576, 0.025..."
...,...,...,...,...,...,...
887154,29093,3604,1.0,2021-08-28 18:46:05,5d32aJe0a3_fSl3LIVYkWQ,"[0.037848257, 0.08722338, 0.033063963, -0.0412..."
887155,169671,1068,3.0,2014-11-03 14:45:46,am7-gkH_PDz598oTdYSD6A,"[-0.0006563042, -0.06406502, 0.068468355, 0.05..."
887156,787,8782,3.0,2022-01-18 03:48:44,-AkziDwQ8hv2COTDBBUpig,"[0.12071574, 0.06715189, 0.057907138, -0.04893..."
887157,39378,12361,4.0,2012-10-21 04:08:40,7ziWZULyiZv2TesYNMFf4g,"[0.019191818, -0.046696506, 0.0633233, 0.06806..."
887158,101749,9869,3.0,2018-03-13 13:54:48,MCzlzlOw7IGbRAKVjJBPtg,"[-0.029144164, 0.028934887, 0.073595375, 0.012..."

In [6]:
encoded_reviews['review_id'] = reviews.review_id

In [8]:
encoded_reviews_dropped = encoded_reviews.drop(columns=["user_id", "business_id", "date", "user_id_str"])

In [9]:
encoded_reviews_dropped

        stars                                            encoded  review_id
0         5.0  [-0.011747095, 0.10525643, -0.0076568937, -0.0...     176697
1         5.0  [-0.08979226, -0.048555817, 0.0055210083, 0.00...     164707
2         1.0  [0.027325913, -0.037775025, -0.030031554, -0.0...     289673
3         4.0  [-0.022266012, 0.02653162, 0.02756578, -0.0056...     129716
4         5.0  [0.02121764, -0.030519828, 0.0039556576, 0.025...     734680
...       ...                                                ...        ...
887154    1.0  [0.037848257, 0.08722338, 0.033063963, -0.0412...     797627
887155    3.0  [-0.0006563042, -0.06406502, 0.068468355, 0.05...     712271
887156    3.0  [0.12071574, 0.06715189, 0.057907138, -0.04893...     141371
887157    4.0  [0.019191818, -0.046696506, 0.0633233, 0.06806...     302281
887158    3.0  [-0.029144164, 0.028934887, 0.073595375, 0.012...     557410

[887159 rows x 3 columns]

In [10]:
encoded_reviews_dropped.to_pickle("encoded_reviews.pkl")